@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Grand+Hotel&display=swap');

/* setup global styles */
:root {
    --primaryColor: #f15025;
    --mainBlack: #222;
    --offWhite: #f7f7f7;
    --darkGrey: #afafaf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.2rem;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Fira Code", monospace;
    color: var(--mainBlack);
    background: white;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3 {
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1.25rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    margin-bottom: 0;
}

p {
    font-weight: 300;
    font-size: 0.7rem;
    line-height: 2;
}

.back-btn {
    display: inline-block;
    color: var(--primaryColor);
    border: 3px solid var(--primaryColor);
    padding: 0.5rem 1rem;
    margin: 3rem;
    transition: var(--mainTransition);
    text-transform: capitalize;
}

.back-btn:hover {
    background: var(--primaryColor);
    color: white;
}

/* end of global css
 */

/* styles for home */

.home-center {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url(./images/home-page.jpg) center/cover fixed no-repeat;
    height: calc(100vh - 62px);
    text-align: center;
    color: var(--primaryColor);
}

.home-center h1 {
    padding-top: 22rem;
}

.home-footer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    fon
}

.home-footer>a {
    color: var(--primaryColor);
    background: var(--darkGrey);
    text-transform: capitalize;
    padding: 1.2rem;
    transition: var(--mainTransition);
    text-align: center;
    text-decoration: none;
}

.home-footer>a:hover {
    color: black;
}

@media screen and (min-width:992px) {
    .home-footer {
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4, 1fr);
        align-items: space-around;
    }
}


/* hero sytles */
.hero-landing {
    min-height: 100vh;
    display: grid;
    background: linear-gradient(rgba(255, 55, 0, 0.75), rgba(27, 25, 25, 0.75)), var(--primaryColor);
    color: white;
    justify-content: center;
    align-items: center;
}

.hero-landing p {
    width: 80%;
    max-width: 560px;
    font-size: 1rem;
}

@media screen and (max-width:600px) {
    .hero-landing {
        padding: 0 3rem;
    }

}

@media screen and (min-width:768px) {
    .hero-landing {
        background: linear-gradient(rgba(255, 55, 0, 0.5), rgba(13, 11, 10, 0.5)), url(./images/grass.jpg) center/cover fixed no-repeat;
    }

}

.image-container {
    height: 100%;

}

/* styles for cards */
.cards {
    display: grid;
    padding: 2rem 0;
    width: 80vw;
    max-width: 1170px;
    margin: 2rem auto;
}

.cards-header {
    text-align: center;
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
}

.each-card {
    border: 1px solid var(--darkGrey);
    margin-bottom: 3rem;
}

.card-banner {
    padding: 1rem;
    margin: 1rem;
}

.contact-links {
    display: grid;
    color: var(--primaryColor);
    /* font-size:2rem; */
    background: var(--darkGrey);
    padding: 0.5rem 1rem;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.contact-links a {
    color: var(--primaryColor);
}

.each-card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

/* *********************
changing column layout with media query 
**************************/

/* @media screen and (min-width:768px){
    .cards{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 0 2rem;

    }
}

@media screen and (min-width:1170px) {
    .cards {
        grid-template-columns: repeat(3,1fr);

    }
} */

/* *********************
changing column layout with minmax
**************************/
.cards {
    gap: 0 2rem;
    grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}


/* styles for tiles */

.tiles {
    padding: 4rem 0;
    text-align: center;
    background: var(--darkGrey);
    background: linear-gradient(var(--darkGrey), white, var(--darkGrey), white, var(--darkGrey), white, var(--darkGrey), white);
}

.tile {
    background: var(--primaryColor);
    color: white;


}

.tiles-center {
    width: 90vw;
    max-width: 1170px;
    margin: 2rem auto;
    display: grid;
    gap: 2rem 0;
}

/* 
@media screen and  (min-width:768px){
    .tiles-center{
        grid-template-columns: 1fr 1fr;
        gap: 2rem 2rem;
    }
} */

@media screen and (min-width:768px) {
    .tiles-center img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .tiles-center {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(14, 1fr);
        gap: 1rem 1rem;
        grid-template-areas:
            "a b"
            "a b"
            "c b"
            "c d"
            "e d"
            "e d"
            "e g"
            "f g"
            "f g"
            "f h"
            "k h"
            "k j"
            "i j"
            "i j";
    }

    .tile-1 {
        grid-area: a;
    }

    .tile-2 {
        grid-area: b;
    }

    .tile-3 {
        grid-area: c;
    }

    .tile-4 {
        grid-area: d;
    }

    .tile-5 {
        grid-area: e;
    }

    .tile-6 {
        grid-area: f;
    }

    .tile-7 {
        grid-area: j;
    }

    .tile-8 {
        grid-area: g;
    }

    .tile-9 {
        grid-area: k;
    }

    .tile-10 {
        grid-area: h;
    }

    .tile-11 {
        grid-area: i;
    }

}

@media screen and (min-width:1170px) {
    .tiles-center {
        gap: 1rem 1rem;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
            "a a a b b b c c c c"
            "a a a b b b c c c c"
            "d d d b b b c c c c"
            "d d d e e e e f f f"
            "d d d e e e e f f f"
            "k k k e e e e j j j"
            "k k k h h h h j j j"
            "g g g h h h h i i i"
            "g g g h h h h i i i";
    }

    .tile-1 {
        grid-area: a;
    }

    .tile-2 {
        grid-area: b;
    }

    .tile-3 {
        grid-area: c;
    }

    .tile-4 {
        grid-area: d;
    }

    .tile-5 {
        grid-area: e;
    }

    .tile-6 {
        grid-area: f;
    }

    .tile-7 {
        grid-area: g;
    }

    .tile-8 {
        grid-area: h;
    }

    .tile-9 {
        grid-area: i;
    }

    .tile-10 {
        grid-area: j;
    }

    .tile-11 {
        grid-area: k;
    }

    .tiles-center img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}



/* styles for layout */

.layout-header {
    background: var(--primaryColor);
    color: white;
    text-align: center;
    padding: 0.75rem;
    letter-spacing: var(--mainSpacing);
}

.layout-nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
}

.layout-nav>a {
    color: black;
    font-size: larger;
    letter-spacing: var(--mainSpacing);
    background: var(--darkGrey);
    text-transform: capitalize;
    padding: 1.2rem;
    transition: var(--mainTransition);
    text-align: left;
    text-decoration: none;
}

.layout-nav>a:hover {
    color: white;
}

.layout-banner {
    padding: 2rem;
    letter-spacing: var(--mainSpacing);
    font-style: "Fira Code", monospace;
    color: var(--mainBlack);
}

.layout-links {
    display: grid;
    background: var(--primaryColor);
    padding: 2rem 0;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.layout-links a {
    color: white;
}

.layout-footer {
    text-transform: capitalize;
    text-align: center;
    font-size: 1.2rem;
    padding: 1.5rem;
    background: var(--mainBlack);
    color: white;
}

@media screen and (min-width:768px) {
    .layout-nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;

    }

    .layout-nav a {
        text-align: center;
        padding: 1rem 0rem;
    }

    .layout-banner {
        height: calc(100vh - 204px);
    }
}

@media screen and (min-width:992px) {
    .layout-center {
        display: grid;
        grid-template-columns: 15% 1fr 5%;
        grid-template-rows: 1fr;
        width: 100vw;
        height: calc(100vh - 128px);
        text-align: center;
    }

    .layout-nav {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
    }

    .layout-nav a {
        text-align: center;
        padding: 3.5rem 0rem;
    }

    .layout-links {
        background: var(--darkGrey);
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        align-items: center;
    }
}