/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Trade+Winds&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
h1,h2{
    font-family: 'Trade Winds', cursive; 
} */
body{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}